:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  animation: colorChange 15s infinite; /* 5s es la duración total de la animación */
}

@keyframes colorChange {
  0% { color: #61dafb; } /* Color inicial, por ejemplo, el azul de Angular */
  25% { color: #f26522; } /* Color intermedio */
  50% { color: #5e5e5e; } /* Otro color intermedio */
  75% { color: #ffcc00; } /* Otro color intermedio */
  100% { color: #61dafb; } /* Volver al color inicial */
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


#whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366; /* Color verde de WhatsApp */
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  animation: auraBlink 5s infinite; /* Agrega las animaciones */
}

.whatsapp-icon {
  font-size: 56px; /* Ajusta el tamaño del icono según tus necesidades */
  line-height: 56px; /* Asegura que el tamaño del ícono sea coherente con el tamaño del contenedor */
  color: #1a1a1a;
}


@keyframes auraBlink {
  0% {
      box-shadow: 0 0 10px 0px rgba(37, 211, 102, 0.7); /* Color verde de WhatsApp */
  }
  50% {
      box-shadow: 0 0 20px 10px rgba(37, 211, 102, 0); /* Transparente */
  }
  100% {
      box-shadow: 0 0 10px 0px rgba(37, 211, 102, 0.7); /* Color verde de WhatsApp */
  }
}



.bodyCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #1a1a1a;
  padding: 16px;
  margin: 16px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
  border-color: #213547;
}
